@import url(https://fonts.googleapis.com/css?family=Paytone+One);

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}


body {
  background-color: #FFFFFF;
}

.profile-pic {
  border-radius:2%;
  height: 150px !important; 
  width: 150px !important;
}

#canvas-wrap { position:relative;}
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }

body {
  font-family: "Paytone One";
  color: #111;
  font-size: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden; 
  line-height: 1.4;
}

#name #text{
  position: fixed;
  bottom: 0%;
  width: 57%;
  transform: skewX(-6deg) rotate(-12deg) skewY(6deg) skewX(-12deg);
}

#name div {
  transform: skewX(-0deg) rotate(-0deg) skewY(0deg) skewX(-0deg);
}

.push-down {
  position: fixed;
  bottom: 10%;
  width: 57%;
}

#text {
  margin: 20vh 20vw;
  width: 55vw;
  height: 40vh;
  padding: 10vh 10vw;
  padding: 0; margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  font-family: "Paytone One";
  font-weight: bold;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#container {
  width: 50.000em;
  padding-top: 1.250em;
  margin-left: auto;
  margin-right: auto; 
}

#banner-container {
  padding-top: 6.250em; 
}

#mini-resume {
  font-family: 'Lato', sans-serif;
  font-size: 1.725em;
  color: #999;
  margin: 15vw;
  width: 38vw;
  position: relative;
  padding: 15px;
  margin: 0px 5em 0.5em;
  color: #333;
  background: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.right-data {
  margin-left: 25px;
}

#mini-resume a {
  color: #e33;
}

#mini-resume a:hover {
  border-bottom: 0.063em solid #e33;
}

#mini-resume img {
  height: 8%;
  width: 8%;
}

#links a,
#external a,
#contact-links a {
  color: #fff;
  text-decoration: none; 
}

#links a:hover ,
#external a:hover,
#contact-links a:hover {
  color: #999; 
}

#links ul {
  text-align: center;
  margin-top: 3.5em;
  width: 42.500em;
  margin-left: auto;
  margin-right: auto; 
}

#links li {
  /*font-family: "Montserrat";*/
  letter-spacing: 10;
  list-style-type: none;
  color: #999;
  font-size: 1.875em;
  float: left;
  width: 24%; 
}

#contact-links ul {
  text-align: center;
  margin-top: 3.5em;
  width: 82.500em;
  margin-left: auto;
  margin-right: auto; 
}

#contact-links li {
  letter-spacing: 10;
  list-style-type: none;
  color: #999;
  font-size: 1.875em;
  float: left;
  width: 24%;
}

/* About Page */

#container2 {
  margin-top: 5.000em;
  margin-left: auto;
  margin-right: auto; 
}

#header2 {
  padding-top: 0.625em;
  position: absolute;
  left: 0.313em;
  top: 0.313em;
  position: relative !important; 
}

#article {
  font-family: "ProximaNova";
  font-size: 1.125em;
  line-height: 1.5em;
  color: #373737; }

#article a {
  color: #e33; }

#article p {
  margin-left: auto;
  margin-right: auto;
  width: 29em;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  overflow-x: hidden; }

#logo {
  /*font-family: "Montserrat";*/
  font-size: 2.5em;
  letter-spacing: -2;
  color: #ddd;
  font-weight: 700;
  display: inline;
  padding: 0.188em 0.500em 0.188em 0.375em; 
}

#logo:hover {
  color: #FF4818; 
}

#image-wrapper {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50em; 
}

#profile-image {
  width: 18.5em; 
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 2.250em;
  color: #373737;
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
}

#profile-image img {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 8em; 
}

#image-wrapper img {
  display: block;
  margin-top: 3.750em;
  margin-bottom: 3.750em;
  width: 20em !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}

.h2-sub {
  margin-left: auto;
  margin-right: auto;
  font-family: "Paytone One";
  /*font-family: "ProximaNova-Bold";*/
  font-size: 1.313em;
  width: 22.08682em;
  color: #222;
  margin-top: 1.875em;
}

#article p {
  font-family: 'Lato', sans-serif;
}

a {
  color: #ccc;
  text-decoration: none; 
}

a:hover {
  color: #999; 
}

.h1-sub {
  width: 14.5em; 
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 2.250em;
  color: #373737;
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  /*width: 12.88889em;*/
}

#article a:hover {
  border-bottom: 0.063em solid #e33; 
}

ul {
  margin-left: auto;
  margin-right: auto;
  width: 29em; 
}

ol {
  margin-left: auto;
  margin-right: auto;
  width: 29em;
  list-style-type: decimal;
  type: "1"; 
}

/*=============== Writing ===================== */

#writing-list {
  margin-top: 3.125em;
  width: 47.500em;
  margin-left: auto;
  margin-right: auto; }

#writing-list a {
  color: #444; }

#writing-list a:hover {
  color: #444; }

.post-name {
  font-size: 35px;
  /*font-family: "ProximaNova";*/
  letter-spacing: -2;
  /*font-weight: 700; */
  padding-bottom: 15px;
}

.post-date {
  font-size: 1.250em;
  /*font-family: "ProximaNova";*/
  letter-spacing: -1;
  display: inline;
  color: #aaa;
  float: right; }

#writing-title,
#contact-title {
  font-size: 1.875em;
  /*font-family: "ProximaNova";*/
  text-align: center;
  letter-spacing: -2;
  font-weight: 700;
  color: #444;
  padding-bottom: 0.625em; }

.post {
  overflow: hidden;
  padding: 0.625em 1.875em 0.625em 1.875em;
  margin-bottom: 2.500em; 
}

.post:hover {
  background: #fafafd;
  outline: 0.063em solid #dedede; 
}


#image-wrapper-contact {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50em; 
}

#image-wrapper-contact img {
  display: block;
  /*margin-top: 3.750em;*/
  /*margin-bottom: 3.750em;*/
  width: 4em !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}

#hs {
  display: inline-block;
  width: 5%;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

  #links ul {
      text-align: center;
      margin-top: 3.5em;
      width: 34.500em; 
      margin-left: -8vw;
      margin-right: auto;
  }

  #name #text {
      position: fixed;
      font-size: 12em;
      bottom: -3%;
      width: 79%;
      transform: skewX(-6deg) rotate(-12deg) skewY(6deg) skewX(-12deg);
  }

  #name div {
    font-size: 180%;
    left:10;
    margin-right: 90%;
    transform: skewX(-0deg) rotate(-0deg) skewY(0deg) skewX(-0deg);
  }
}
