<div class="fh5co-narrow-content">
  <div class="row">
    <div class="col-md-5">
      <h2 class="fh5co-heading animate-box">Hey, <span>I'm Sugata.</span></h2>
      <p class="fh5co-lead">Welcome to my corner of the web.</p>
      <p class=""> I'm an aspiring Software Engineer, I'm in the process of earning my Bachelor's Degree in Computer Science & Statistics at the <a href="http://www.utoronto.ca">University of Toronto</a>.</p>
    </div>
    <div class="col-md-6 col-md-push-1">
      <img src="images/profile.JPG" alt="Free HTML5 Bootstrap Template" class="img-responsive">
    </div>
  </div>

</div>

<div class="fh5co-cards">
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading " data-animate-effect="fadeInLeft">Latest Thoughts <a href="#" class="btn btn-primary btn-outline">Read Blog</a></h2>

    <div class="fh5co-flex-wrap">
      <div class="fh5co-card ">
        <h5>Explore</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="#" class="btn btn-md btn-primary">Read</a></p>
      </div>
      <div class="fh5co-card ">
        <h5>Explore</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="#" class="btn btn-md btn-primary">Read</a></p>
      </div>

    </div>

  </div>
</div>

<div class="fh5co-narrow-content">
  <h2 class="fh5co-heading">What I Love To Do</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="fh5co-feature">
        <div class="fh5co-icon">
          <i class="icon-tools-2"></i>
        </div>
        <div class="fh5co-text">
          <h3>Engineering</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="fh5co-feature">
        <div class="fh5co-icon">
          <i class="icon-telescope"></i>
        </div>
        <div class="fh5co-text">
          <h3>Product Management</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fh5co-feature">
        <div class="fh5co-icon">
          <i class="icon-strategy"></i>
        </div>
        <div class="fh5co-text">
          <h3>Economics & Policy</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="fh5co-feature">
        <div class="fh5co-icon">
          <i class="icon-circle-compass"></i>
        </div>
        <div class="fh5co-text">
          <h3>Mathematics</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
    </div>

  </div>
</div>
