<div class="fh5co-narrow-content">
  <h2 class="fh5co-heading animate-box">Portfolio</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Illustration, Branding</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Web, Packaging</p>
      </a>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Branding, Web</p>
      </a>
    </div>
    <div class="clearfix visible-md-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_4.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Logo, Branding, Web</p>
      </a>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Web, Packaging, Branding</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Branding</p>
      </a>
    </div>
    <div class="clearfix visible-md-block visible-sm-block"></div>

    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_7.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Web, Illustration</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_8.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Branding, Web</p>
      </a>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      <a href="work.html">
        <img src="images/work_1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
        <h3 class="fh5co-work-title">Work Title Here</h3>
        <p>Illustration, Branding</p>
      </a>
    </div>
    <div class="clearfix visible-md-block"></div>

  </div>
</div>
